In [1]:
import pandas as pd
import numpy as py

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.info()
df.isnull().sum()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               2240 non-null   int64
 1   birth_year                2240 non-null   int64
 2   education_level           2199 non-null   object
 3   marital_status            2240 non-null   object
 4   annual_income             2173 non-null   float64
 5   num_children              2240 non-null   int64
 6   num_teenagers             2196 non-null   float64
 7   signup_date               2240 non-null   object
 8   days_since_last_purchase  2240 non-null   int64
 9   has_recent_complaint      2240 non-null   int64
 10  spend_wine                2240 non-null   int64
 11  spend_fruits              2240 non-null   int64
 12  spend_meat                2240 non-null   int64
 13  spend_fish                2240 non-null   int64
 14  spend_sweets              2240 non-null   int64
 15  spend_gold                2240 non-null   int64
 16  num_discount_purchases    2240 non-null   int64
 17  num_web_purchases         2240 non-null   int64
 18  num_catalog_purchases     2240 non-null   int64
 19  num_store_purchases       2240 non-null   int64
 20  web_visits_last_month     2240 non-null   int64
 21  accepted_campaign_1       2240 non-null   int64
 22  accepted_campaign_2       2240 non-null   int64
 23  accepted_campaign_3       2240 non-null   int64
 24  accepted_campaign_4       2240 non-null   int64
 25  accepted_campaign_5       2240 non-null   int64
 26  accepted_last_campaign    2240 non-null   int64
dtypes: float64(2), int64(22), object(3)
memory usage: 472.6+ KB

,customer_id,birth_year,education_level,marital_status,annual_income,num_children,num_teenagers,signup_date,days_since_last_purchase,has_recent_complaint,...,num_web_purchases,num_catalog_purchases,num_store_purchases,web_visits_last_month,accepted_campaign_1,accepted_campaign_2,accepted_campaign_3,accepted_campaign_4,accepted_campaign_5,accepted_last_campaign
count,2240.000000,2240.000000,2199,2240,2173.000000,2240.000000,2196.000000,2240,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000
unique,NaN,NaN,5,8,NaN,NaN,NaN,663,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Graduation,Married,NaN,NaN,NaN,31-08-2012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1105,864,NaN,NaN,NaN,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,5592.159821,1968.805804,NaN,NaN,52266.031293,0.444196,0.506375,NaN,49.109375,0.009375,...,4.084821,2.662054,5.790179,5.316518,0.064286,0.013393,0.072768,0.074554,0.072768,0.149107
std,3246.662198,11.984069,NaN,NaN,25274.007394,0.538398,0.543720,NaN,28.962453,0.096391,...,2.778714,2.923101,3.250958,2.426645,0.245316,0.114976,0.259813,0.262728,0.259813,0.356274
min,0.000000,1893.000000,NaN,NaN,1730.000000,0.000000,0.000000,NaN,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2828.250000,1959.000000,NaN,NaN,35196.000000,0.000000,0.000000,NaN,24.000000,0.000000,...,2.000000,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5458.500000,1970.000000,NaN,NaN,51411.000000,0.000000,0.000000,NaN,49.000000,0.000000,...,4.000000,2.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8427.750000,1977.000000,NaN,NaN,68487.000000,1.000000,1.000000,NaN,74.000000,0.000000,...,6.000000,4.000000,8.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11191.000000,1996.000000,NaN,NaN,666666.000000,2.000000,2.000000,NaN,99.000000,1.000000,...,27.000000,28.000000,13.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df=df.dropna()
df = df.drop_duplicates()
df

,customer_id,birth_year,education_level,marital_status,annual_income,num_children,num_teenagers,signup_date,days_since_last_purchase,has_recent_complaint,...,num_web_purchases,num_catalog_purchases,num_store_purchases,web_visits_last_month,accepted_campaign_1,accepted_campaign_2,accepted_campaign_3,accepted_campaign_4,accepted_campaign_5,accepted_last_campaign
0,5524,1957,Graduation,Single,58138.0,0,0.0,4/9/2012,58,0,...,8,10,4,7,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1.0,8/3/2014,38,0,...,1,1,2,5,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0.0,21-08-2013,26,0,...,8,2,10,4,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0.0,10/2/2014,26,0,...,2,0,4,6,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0.0,19-01-2014,94,0,...,5,3,6,5,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1.0,13-06-2013,46,0,...,9,3,4,5,0,0,0,0,0,0
2236,4001,1946,PhD,Together,64014.0,2,1.0,10/6/2014,56,0,...,8,2,5,7,1,0,0,0,0,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0.0,25-01-2014,91,0,...,2,3,13,6,0,0,0,1,0,0
2238,8235,1956,Master,Together,69245.0,0,1.0,24-01-2014,8,0,...,6,5,10,3,0,0,0,0,0,0
2239,9405,1954,PhD,Married,52869.0,1,1.0,15-10-2012,40,0,...,3,1,4,7,0,0,0,0,0,1

In [5]:
df = df.drop(columns="customer_id")
df = df.drop(columns="signup_date")

In [6]:
df

,birth_year,education_level,marital_status,annual_income,num_children,num_teenagers,days_since_last_purchase,has_recent_complaint,spend_wine,spend_fruits,...,num_web_purchases,num_catalog_purchases,num_store_purchases,web_visits_last_month,accepted_campaign_1,accepted_campaign_2,accepted_campaign_3,accepted_campaign_4,accepted_campaign_5,accepted_last_campaign
0,1957,Graduation,Single,58138.0,0,0.0,58,0,635,88,...,8,10,4,7,0,0,0,0,0,1
1,1954,Graduation,Single,46344.0,1,1.0,38,0,11,1,...,1,1,2,5,0,0,0,0,0,0
2,1965,Graduation,Together,71613.0,0,0.0,26,0,426,49,...,8,2,10,4,0,0,0,0,0,0
3,1984,Graduation,Together,26646.0,1,0.0,26,0,11,4,...,2,0,4,6,0,0,0,0,0,0
4,1981,PhD,Married,58293.0,1,0.0,94,0,173,43,...,5,3,6,5,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,1967,Graduation,Married,61223.0,0,1.0,46,0,709,43,...,9,3,4,5,0,0,0,0,0,0
2236,1946,PhD,Together,64014.0,2,1.0,56,0,406,0,...,8,2,5,7,1,0,0,0,0,0
2237,1981,Graduation,Divorced,56981.0,0,0.0,91,0,908,48,...,2,3,13,6,0,0,0,1,0,0
2238,1956,Master,Together,69245.0,0,1.0,8,0,428,30,...,6,5,10,3,0,0,0,0,0,0
2239,1954,PhD,Married,52869.0,1,1.0,40,0,84,3,...,3,1,4,7,0,0,0,0,0,1

In [7]:

#combine All campaines purshause total
campaign_cols = [
    'accepted_campaign_1', 'accepted_campaign_2', 'accepted_campaign_3',
    'accepted_campaign_4', 'accepted_campaign_5', 'accepted_last_campaign'
] 
df['campaigns_accepted_count'] = df[campaign_cols].sum(axis=1)
df.drop(campaign_cols, axis=1, inplace=True)

In [8]:
row = df[df['annual_income'] == 82800]
print(row)

      birth_year education_level marital_status  annual_income  num_children  \
15          1946             PhD         Single        82800.0             0
1570        1946             PhD         Single        82800.0             0

      num_teenagers  days_since_last_purchase  has_recent_complaint  \
15              0.0                        23                     0
1570            0.0                        23                     0

      spend_wine  spend_fruits  spend_meat  spend_fish  spend_sweets  \
15          1006            22         115          59            68
1570        1006            22         115          59            68

      spend_gold  num_discount_purchases  num_web_purchases  \
15            45                       1                  7
1570          45                       1                  7

      num_catalog_purchases  num_store_purchases  web_visits_last_month  \
15                        6                   12                      3
1570                      6                   12                      3

      campaigns_accepted_count
15                           3
1570                         3

In [9]:
before = len(df)
df = df.drop_duplicates()
after = len(df)

print("Removed:", before - after, "duplicates")

Removed: 158 duplicates

In [10]:
row = df[df['annual_income'] == 82800]
print(row)

    birth_year education_level marital_status  annual_income  num_children  \
15        1946             PhD         Single        82800.0             0

    num_teenagers  days_since_last_purchase  has_recent_complaint  spend_wine  \
15            0.0                        23                     0        1006

    spend_fruits  spend_meat  spend_fish  spend_sweets  spend_gold  \
15            22         115          59            68          45

    num_discount_purchases  num_web_purchases  num_catalog_purchases  \
15                       1                  7                      6

    num_store_purchases  web_visits_last_month  campaigns_accepted_count
15                   12                      3                         3

In [ ]:
# 1. Missing indicators (so model knows value was missing)
df['education_missing'] = df['education_level'].isnull().astype(int)
df['income_missing'] = df['annual_income'].isnull().astype(int)
df['teen_missing'] = df['num_teenagers'].isnull().astype(int)
df.isnull().sum()
# 2. Impute categorical column
df['education_level'] = df['education_level'].fillna("Unknown")

# 3. Impute numeric columns with median
df['annual_income'] = df['annual_income'].fillna(df['annual_income'].median())
df['num_teenagers'] = df['num_teenagers'].fillna(df['num_teenagers'].median())
df.isnull().sum()

C:\Users\abdal\AppData\Local\Temp\ipykernel_2092\2267937898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['education_missing'] = df['education_level'].isnull().astype(int)
C:\Users\abdal\AppData\Local\Temp\ipykernel_2092\2267937898.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income_missing'] = df['annual_income'].isnull().astype(int)
C:\Users\abdal\AppData\Local\Temp\ipykernel_2092\2267937898.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['teen_missing'] = df['num_teenagers'].isnull().astype(int)

birth_year                  0
education_level             0
marital_status              0
annual_income               0
num_children                0
num_teenagers               0
days_since_last_purchase    0
has_recent_complaint        0
spend_wine                  0
spend_fruits                0
spend_meat                  0
spend_fish                  0
spend_sweets                0
spend_gold                  0
num_discount_purchases      0
num_web_purchases           0
num_catalog_purchases       0
num_store_purchases         0
web_visits_last_month       0
campaigns_accepted_count    0
education_missing           0
income_missing              0
teen_missing                0
dtype: int64